---
layout: default
permalink: previous.html
title: Previous Topics
---
{% assign today_date = 'now' | date: '%s' %}

{% include navigation.html static_navigation="previous" %}
<br><br><br>
<body id="page-top" class="index">
{% for topic in site.topics %}
    {% assign topic_date = topic.date | date: '%s' %}
    {% if topic_date > today_date %}
        <div class="topic">
            <h2>{{ topic.title }}</h2>
            <div>Presenters: {{ topic.speakers }}</div>
            <div>{{ topic.content | truncate: 1200 }}</div>
        </div>
    {% endif %}
{% endfor %}
</body>