---
layout: default
---

{% include navigation.html static_navigation="about" %}
<body id="page-top" class="index">
    <section id="topic" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-left"></div>
                <div class="col-md-8 text-left">
                    <p style="white-space: break-spaces;">
                    {{ content }}
                    </p>
                </div>
                <div class="col-md-2 text-left"></div>
            </div>
        </div>
    </section>
</body>