---
layout: default
---

{% include navigation.html static_navigation="about" %}
<body id="page-top" class="index">
    <section id="topic" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-left">
                    <p style="white-space: break-spaces;">
                    The GPS Cloud Technology Series will consist of two 15-minute segments. The first segment will be a
                    project, asset, or technical spotlight showcasing a recent cloud client successes or Deloitte cloud assets.

                    The second half of our series will be a rotating interactive segment. Here is where you can interact with
                    the cloud community. You will see things such as an AMA for cloud leadership, hear from offering leaders,
                    learn from internal initiative groups, learn about cloud tools, a chance to hear about future cloud
                    opportunities, and many other cool topics!

                    If there’s a specific cloud topic or project you are looking to learn more about or questions you have about
                    the practice, feel free to add a topic to our Github Disscussions page and we will incorporate it in
                    future sessions!

                    Please forward this email to any of your friends and colleagues interested in learning more about cloud
                    across CBO!

                    We look forward to seeing you all!

                    Thank you!

                    - GPS Cloud Engineering
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>