---
layout: default
---
<body id="page-top" class="index">
{% assign today_date = 'now' | date: '%s' %}

{% for topic in site.topics %}
    {% unless topic.example %}
        {% assign topic_date = topic.date | date: '%s' %}
        {{ topic_date }}
        {% if topic_date >= today_date %}
            {% if next %}
                {% if topic_date <= next %}
                    {% assign next = topic_date %}
                    next = {{ next }}
                {% endif %}
            {% else %}
                {% assign next = topic_date %}
                el next = {{ next }}
            {% endif %}
        {% endif %}
    {% endunless %}
{% endfor %}


<!-- Header -->
{% include navigation.html %}

topics: {{ site.topics }}
{% for topic in site.topics %}
    {% assign topic_date = topic.date | date: '%s' %}
    compare: {{ topic_date }} | {{ next }}
    {% if topic_date == next %}
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">{{ topic.topic_name }}<br></div>
                    <div class="intro-lead-in">{{ topic.date | date: "%b %d, %y" }}</div>
                    <div class="intro-lead-in">{{ topic.time }}</div>
                    <a href="#speakers" class="page-scroll btn btn-xl">Tell Me More</a>
                </div>
            </div>
        </header>

        <!-- Portfolio Grid Section -->
        <section id="speakers" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Speakers</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    {% if topic.speakers %}
                        {% assign speaker_usernames = topic.speakers | split: "," %}
                        {% for speaker_username in speaker_usernames %}
                            {% assign speaker_username_stripped = speaker_username | strip %}
                            {% for speaker in site.speakers %}
                                {% unless speaker.example %}
                                    {% if speaker_username_stripped == speaker.username %}
                                        <div class="col-md-4 col-sm-6 speakers-item">
                                            <a href="#{{ speaker.username }}" class="speakers-link" data-toggle="modal">
                                                <div class="speakers-hover">
                                                    <div class="speakers-hover-content">
                                                        <i class="fa fa-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="/assets/img/speakers/{{ speaker.username }}.jpg" class="img-responsive img-centered" alt="{{ speaker.username }}">
                                            </a>
                                            <div class="speakers-caption">
                                                <h4>{{ speaker.name }}</h4>
                                                <p class="text-muted">{{ speaker.title }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endunless %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <img src="/assets/img/speaker/tbd.jpg" class="img-responsive img-centered" alt="To Be Determined">
                    {% endif %}
                </div>
            </div>
        </section>

        <section id="topic" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Description</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-left">
                        {{ topic.content }}
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section>

        {% if topic.speakers %}
            {% assign speaker_usernames = topic.speakers | split: "," %}
            {% for speaker_username in speaker_usernames %}
                {% assign speaker_username_stripped = speaker_username | strip %}
                {% for speaker in site.speakers %}
                    {% unless speaker.example %}
                        {% if speaker_username_stripped == speaker.username %}
                            <div class="portfolio-modal modal fade" id="{{ speaker.username }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-content">
                                    <div class="close-modal" data-dismiss="modal">
                                        <div class="lr">
                                            <div class="rl">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-8 col-lg-offset-2">
                                                <div class="modal-body">
                                                    <h2>{{ speaker.title }}</h2>
                                                    <hr class="star-primary">
                                                    <img src="/assets/img/speakers/{{ speaker.username }}.jpg" class="img-responsive img-centered" alt="{{ speaker.username }}">
                                                    <p>{{ speaker.content }}</p>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endunless %}
                {% endfor %}
            {% endfor %}
        {% endif %}

    {% endif %}
{% endfor %}

</body>
